body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;


  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

main {
  /* min-height: 100vh; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top {
  display: flex;
    align-items: center;
}
.back{
    font-family: "Zen Antique Soft", serif;
    background-color: rgba(51, 108, 161, 0.466);
    text-align: center;
    border: 2px solid rgba(48, 68, 241, 0.534);
    padding: 14px 10px;
    outline: none;
    color: white;
    border-color: #ffffffec;
    border-radius: 14px;
    transition: 0.25px;
    cursor: pointer;
    font-size: 3vh;
    z-index: 10;
    font-weight: 400;
    text-decoration: none;
}
.back:hover {
    border-color: #000000ec;
    background-color: rgba(47, 132, 216, 0.746);
    color: rgb(0, 0, 0);
  }
.glass {
  background: white;
  min-height: 80vh;
  min-width: 60%;
  z-index: 4;
  background: linear-gradient(to right bottom, #ffffff1a, #ffffff9b);
  border-radius: 26px;
  backdrop-filter: blur(10px);
  display: flex;
}

.right {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.form {
  margin-left: 10vh;
  margin-bottom: 10vh;
  margin-right: 10vh;
}

.topic {
  padding: 2vh;
  background: linear-gradient(to right top, #181515f5, #0000004d);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  color: #fff4f4d2;
  margin-left: 2vh;
  margin-right: 2vh;
}
.topic h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 5.6vh;
}

.placeholder_section {
  margin: 1vh;
  margin-left: 2vh;
  margin-right: 2vh;
  padding: 1vh;
  background: linear-gradient(to right bottom, #ffffff1e, #ffffff3f);
  backdrop-filter: blur(10%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  left: 50%;
  justify-content: center;
}

.ph_section_center {
  display: flex;
  justify-content: center;
}

.placeholder {
  font-family: "Zen Antique Soft", serif;
  border: 5px;
  background-color: #0000009a;
  display: flex;
  text-align: center;
  border: 3px solid #000000;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: rgba(0, 0, 0, 0.842);
  border-radius: 14px;
  transition: 0.25px;
  font-size: 18px;
  margin: 0.3vh;
}
.placeholder:focus {
  background: #ffffffb4;
}
.placeholder:hover {
  background: #ffffffa6;
}

.gandertext {
  font-family: "Zen Antique Soft", serif;
  font-size: 3vh;
  margin: 1vh;
  margin-left: 2ch;
  margin-top: 0%;
}
.ganderinput {
  cursor: pointer;
}

.al_center {
  /* making apointmet time
  "from" and "to" vertically center  */
  align-self: center;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vh;
  /* animation: opacityanimation 1s linear 1;
  animation-delay: 3.3s;
  visibility: hidden;
  animation-fill-mode: forwards; */
}

.add_,
.cancel_,
.reset_ {
  margin: 1vh;
}

.b,
.cancel,
.add,
.reset {
  /* border: 0; */
  font-family: "Zen Antique Soft", serif;
  background-color: rgba(7, 205, 14, 0.571);
  text-align: center;
  border: 2px solid rgba(48, 68, 241, 0.534);
  padding: 14px 10px;
  outline: none;
  color: white;
  border-color: #ffffffec;
  border-radius: 14px;
  transition: 0.25px;
  cursor: pointer;
  font-size: 3vh;
  z-index: 10;
  font-weight: 400;
  /*  */
}
.add:hover {
  border-color: #000000ec;
  background-color: rgba(22, 235, 15, 0.746);
  color: rgb(255, 255, 255);
}
.cancel:hover {
  border-color: #000000ec;
  background-color: rgba(212, 34, 34, 0.746);
  color: rgb(0, 0, 0);
}
.reset:hover {
  border-color: #000000ec;
  background-color: rgba(200, 212, 34, 0.746);
  color: rgb(0, 0, 0);
}
.b:hover {
  border-color: #000000ec;
  background-color: rgba(255, 255, 255, 0.746);
  color: rgb(0, 0, 0);
}

.bottom {
  padding: 4vh;
}

/* ------------------- */
/* ------------------- */
/* ------------------- */
/* ------------------- */
/* ------------------- */
/* ------------------- */
/* ------------------- */
/* ------------------- */
/* ------------------- */
/* ------------------- */
